.wrapper {
    display: table; 
    width:auto;
    overflow-y: scroll;
    overflow-x:scroll;
}
 
.canvasChild {
  display: table-row; 
  background-color:#eee;
  border:1px solid  #666666;
  margin: 20px;
  overflow-y: scroll;
  overflow-x:scroll;
}

.errorBlock {
  display: table-row; 
  width: auto;
  height: 300px;
  background-color:#EABBB1;
  border:1px solid  #666666;
  margin: 20px;
  overflow-y: scroll;
  overflow-x:scroll;
}