<html lang="en-US">
    <head>
        <title>Graph drawing app</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script src="{{url_for('static', filename='drawing.js')}}"></script>
        <script>
            function drawGraphs() {
                var graphs = JSON.parse('{{ res_graphs | tojson | safe }}');
                var ct = '{{ ct }}';
                for (var idx in graphs) {
                    //document.writeln(JSON.stringify(graphs[idx]));
                    var div = document.createElement('div');
                    div.className = "canvasChild";

                    var canvas = document.createElement("canvas");
                    var cx = canvas.getContext("2d");

                    div.appendChild(canvas);
                    document.getElementsByClassName('wrapper')[0].appendChild(div);

                    var status = graphs[idx]["status"];
                    var circle_r = 5;
                    var d = 1;
                    
                    if (status == "OK") {
                        var nodes = graphs[idx]["graph_dict"]["nodes"];
                        for (var i = 0; i < nodes.length; i++) {
                            var node = nodes[i];
                            drawNode(cx, node, circle_r, d);
                        }
                        var edges = graphs[idx]["graph_dict"]["edges"];
                        for (var i = 0; i < edges.length; i++) {
                            var edge = edges[i];
                            drawEdge(cx, edge, nodes, d);
                        }
                    }
                    else {
                        writeText(cx, status, 10, 10);
                    }
                }
            }
        </script>
    </head>
    <body onload="drawGraphs()">
        <div class="wrapper"></div>
    </body>
</html>